h3 Home Component
p Welcome to Angular Seed
ul
    li My variable: {{ foo }}
    li My variable: {{ foo }}
    li My variable: {{ foo }}
    li My variable: {{ foo }}
    li My variable: {{ foo }}
    li My variable: {{ foo }}
    li My variable: {{ foo }}
    li My variable: {{ foo }}
    li My variable: {{ foo }}
    li My variable: {{ foo }}
